@import "tailwindcss";

.scrubber-input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.scrubber-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.scrubber-input::-moz-range-thumb {
  width: 48px;
  height: 48px;
  background: transparent;
  cursor: pointer;
  border: none;
}

/* Utilidades para animaciones 3D fluidas */
.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
/* Ocultar barra de scroll en las letras */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
